__pycache__/
*.py[cod]
*.so
.DS_Store

.venv/
.gradio/
wandb/
cache/
*.cache*

output_helios/
runs/
gepa_inf_samples/
data/

*.log
*.out
*.err
*.pid

*.zip
*.whl
*.pdf
*.html

*.pt
*.pth
*.ckpt
*.safetensors
*.pkl

eval/playground/results/
eval/playground/toy-video/
eval/checkpoints/*
!eval/checkpoints/README.md
!eval/checkpoints/get_checkpoints.sh
!eval/checkpoints/.gitattributes
gepa_prompt_opt/GEPA_Helios_Opt.o*

turn_ti/__pycache__/

*.pem
*profile
ablation_*
*temp
*temp_path*
*_ckpt
*_results

AMT-S.yaml
bpe_simple_vocab_16e6.txt
Videoreward
1_formal_ckpts
demo_data
